<!DOCTYPE html>
<html lang="en">
<head>
	<title> Example </title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="images/profile.png"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<script type="text/javascript" src="./stylesheets/vendor/bootstrap.js"></script>
	<link rel="stylesheet" href="./stylesheets/vendor/bootstrap.css">
	<!-- <link rel="stylesheet" href="vendor/fontawesome.css"> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
 	<link rel="stylesheet" href="./stylesheets/css/404_PageNotFound.css">
</head>
<body>
	<div class="PageNotFound">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>404</h1>
					<h3>Page not found</h3>
					<p>Bacon ipsum dolor amet bacon brisket bresaola, flank hamburger shoulder shankle rump jerky kevin. Bacon ipsum dolor amet bacon brisket bresaola, flank hamburger shoulder shankle rump jerky kevin. </p>
					<a href = "/"><div class="btn btn-success">go home</div></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>