<!DOCTYPE html>
<html lang="en">
<head>
	<title> Example </title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="images/profile.png"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<script type="text/javascript" src="./stylesheets/vendor/bootstrap.js"></script>
	<link rel="stylesheet" href="./stylesheets/vendor/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
 	<link rel="stylesheet" href="./stylesheets/css/Automation.css">
	<!-- Socket -->
	<script src="socket.io/socket.io.js"></script>
  	<script src="jquery.js"></script>
	<!-- DateTimePicker-->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
  	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script> 
  	<!-- <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  -->
  	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script> -->
</head>
<body>
	<div class="header">
		<div class="nav text-center">
			<img src="images/logo.png" alt="">
		</div>
	</div>
	<!-- end header -->

	<div class="menu container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Automation</h1>
			</div>
		</div>
	</div>
	<!-- end menu -->

	<div class="infomation">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><i class="fas fa-info-circle"></i> Display infomation of system</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<p class="sensor" id="sensor1">Temerature: C</p>
					<div id="container">
							<p id="template"></p>
					</div>
				</div>
				<div class="col-md-4">
						<p class="sensor" id="sensor2">Humidity: %</p>
					<div id="container">
						<p id="humidity"></p>
					</div>
				</div>
				<div class="col-md-4 light">
						<br>
						<span class="fas fa-cloud-sun"></span> <span class="lighttext" id="light"></span>
						<br>
						<span class="fas fa-cloud-sun"></span> <span class="suntext" ></span>
				</div>
			</div>
		</div>
	</div>
	<!-- end infomation -->

	<div class="control">
			<div class="container">
					<h2 class="choose-options"><i class="fas fa-cogs"></i> Setting</h2>
					<ul class="nav nav-tabs">
						<li class="active khay"><a data-toggle="tab" href="#home"><i class="fas fa-box"></i> Khay A</a></li>
						<li class="khay"><a data-toggle="tab" href="#menu1"><i class="fas fa-box"></i> Khay B</a></li>						
					</ul>
				
					<div class="tab-content">
						<br>
						<div id="home" class="tab-pane fade in active">
							<div class="row">
								<div class="col-md-12">
										<select class="form-control form1" id="gender1">
											<option>Rau cải</option>
											<option>Rau mầm</option>
										</select>     
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<h2 class="khay1"><i class="far fa-clock"></i> Harvest time</h2>
									<p class="info-khay1 pump2">6 days</p>
								</div>
								<div class="col-md-4">
									<h2 class="khay1">% Soil Moisture</h2>
									<p class="info-khay1" id="soil"></p>
								</div>
								<div class="col-md-4">
									<h2 class="khay1">Pump water</h2>
									<p class="info-khay1 pump">ON</p>
								</div>
							</div>
						</div>
						<div id="menu1" class="tab-pane fade">
							<div class="row">
									<div class="col-md-12">
											<select class="form-control form2" id="gender1">
												<option>Rau cải</option>
												<option>Rau mầm</option>
											</select>     
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<h2 class="khay2"><i class="far fa-clock"></i> Harvest time</h2>
										<p class="info-khay2">6 days</p>
									</div>
									<div class="col-md-4">
										<h2 class="khay2">% Soil Moisture</h2>
										<p class="info-khay2">990</p>
									</div>
									<div class="col-md-4">
										<h2 class="khay2">Pump water</h2>
										<p class="info-khay2">ON</p>
									</div>
								</div>
						</div>
						</div>
					</div>
	</div>
	<!-- end control -->

	<div class="pullProcess">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1><i class="fas fa-person-booth"></i> Pull cover</h1>
					<input class="progress1" step="2" type="range" min="0" max="100" value="0">
				</div>
			</div>
		</div>
	</div>
	<!-- end pullProcess -->          
	<div class="documentation">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Documentation</h1>
					<p>Bacon ipsum dolor amet pancetta leberkas chuck, short loin corned beef bresaola spare ribs shankle boudin brisket buffalo. Alcatra jowl burgdoggen beef shoulder strip steak. Pork loin ground round drumstick flank cupim turducken pork chop tenderloin tongue fatback beef ribs t-bone shankle meatball prosciutto. Kevin porchetta ball tip, capicola shankle salami drumstick buffalo tri-tip. T-bone kevin tail chuck. Biltong pig brisket, capicola ham hock landjaeger kevin hamburger pancetta. Sausage tail ground round pig beef. Bacon ipsum dolor amet pancetta leberkas chuck, short loin corned beef bresaola spare ribs shankle boudin brisket buffalo. Alcatra jowl burgdoggen beef shoulder strip steak. Pork loin ground round drumstick flank cupim turducken pork chop tenderloin tongue fatback beef ribs t-bone shankle meatball prosciutto. Kevin porchetta ball tip, capicola shankle salami drumstick buffalo tri-tip. T-bone kevin tail chuck. Biltong pig brisket, capicola ham hock landjaeger kevin hamburger pancetta. Sausage tail ground round pig beef</p>
				</div>
			</div>
		</div>
	</div>
	<script src="./javascripts/js/processbar.js"></script>
	<script src="./javascripts/js/Automation.js"></script>
</body>
</html>