<!DOCTYPE html>
<html lang="en">
<head>
	<title> Example </title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="images/profile.png"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<script type="text/javascript" src="./stylesheets/vendor/bootstrap.js"></script>
	<link rel="stylesheet" href="./stylesheets/vendor/bootstrap.css">
	<!-- <link rel="stylesheet" href="vendor/fontawesome.css"> -->
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
 	<link rel="stylesheet" href="./stylesheets/css/ControlByHand.css"></head>
	<!-- Socket -->
	<script src="socket.io/socket.io.js"></script>
	<script src="jquery.js"></script>
		
	 <!-- DateTimePicker-->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script> 
    <!-- <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<body>
	<div class="header">
		<div class="nav text-center">
			<img src="images/logo.png" alt="">
		</div>
	</div>
	<!-- end header -->

	<div class="menu container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Control By Hand</h1>
			</div>
		</div>
	</div>
	<!-- end menu -->

	<div class="infomation">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2><i class="fas fa-info-circle"></i> Display infomation of system</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<p class="sensor" id="sensor1">Temerature: C</p>
						<div id="container">
								<p id="template"></p>
						</div>
					</div>
					<div class="col-md-4">
							<p class="sensor" id="sensor2">Humidity: %</p>
						<div id="container">
							<p id="humidity"></p>
						</div>
					</div>
					<div class="col-md-4 light">
							<br>
							<span class="fas fa-cloud-sun"></span> <span class="lighttext" id="light"></span>
							<br>
					</div>
				</div>
			</div>
		</div>
	<!-- end infomation -->

	<div class="control">
				<div class="container">
					<h2 class="choose-options"><i class="fas fa-user-cog"></i> Controls</h2>
					<ul class="nav nav-tabs">
						<li class="active khay"><a data-toggle="tab" href="#home"><i class="fas fa-box"></i> Khay A</a></li>
						<li class="khay"><a data-toggle="tab" href="#menu1"><i class="fas fa-box"></i> Khay B</a></li>						
					</ul>
				
					<div class="tab-content">
						<br>
						<div id="home" class="tab-pane fade in active">
							<div class="row">
								<div class="col-md-4">
									<h2 class="khay1"><i class="far fa-clock"></i> Harvest time</h2>
									<input class="info-khay1 date-time" type='text' class="form-control" id='datetimepicker4' />
								</div>
								<div class="col-md-4">
									<h2 class="khay1">% Soil Moisture</h2>
									<p class="info-khay1" id="soil1"></p>
								</div>
								<div class="col-md-4">
									<h2 class="khay1">Pump water</h2>
									<input id="toggle-event" data-style="ios" data-onstyle="info-khay1" type="checkbox" data-toggle="toggle" data-width="360" data-height="100">
								</div>
							</div>
						</div>
						<div id="menu1" class="tab-pane fade">
								<div class="row">
									<div class="col-md-4">
										<h2 class="khay2 harvestTime"><i class="far fa-clock"></i> Harvest time</h2>
									<input class="info-khay2 date-time" type='text' class="form-control" id='datetimepicker4' />
									</div>
									<div class="col-md-4">
										<h2 class="khay2">% Soil Moisture</h2>
										<p class="info-khay2" id="soil2"></p>
									</div>
									<div class="col-md-4">
										<h2 class="khay2">Pump water</h2>
										<input id="toggle-event2" data-style="ios2" data-onstyle="info-khay2" type="checkbox" data-toggle="toggle" data-width="360" data-height="100">
									</div>
								</div>
						</div>
						</div>
					</div>
		</div>
	</div>
	<!-- end control -->

	<div class="pullProcess">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Pull cover</h1>
					<input class="progress1" step="2" type="range" min="0" max="100" value="0">
				</div>
			</div>
		</div>
	</div>
	<!-- end pullProcess -->
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script src="./javascripts/js/processbar.js"></script>
	<script src="./javascripts/js/ControlByHand.js"></script>
</body>
</html>