/*HEADER*/
.header img{
	height: 9%;
	width: 9%;
	padding: 0.5%;
}
.header{
	background-color: #34716A;
}

.menu h1{
	color: #34716A;
	font-family: 'Lato', sans-serif;
	font-style: bold;
	font-size: 50px;
	padding: 30px 20px 0 20px;
}
.menu .btn-group .btn-default{
	color: #34716A;
	font-size: 20px;
}
.menu .btn-group .dropdown-menu li{
	font-size: 20px;
	color: #34716A;
	font-family: 'Lato', sans-serif;
}
/*INFOMATION*/
.infomation h2{
	color: #34716A;
	font-family: 'Lato', sans-serif;
}
.infomation .light{
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	padding-top: 70px;
}
.infomation .light .lighttext{
	color: #F69E53;
}
.infomation .light .fa-lightbulb{
	color: #F69E53;
}
.infomation .light .suntext{
	color: #0277BD;
}
.infomation .light .fa-cloud-sun{
	color: #0277BD;
}
#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}
#humidity {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}

.infomation .sensor{
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	padding-left: 10%;	
}
.infomation #sensor1{
	color: #ff7043;
}
.infomation #sensor2{
	color: #0277bd;
}
/*CONTROL*/
.control #datetimepicker4{
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 30px;
	padding-bottom: 8px;
}
.control .input-group-append{
	display: inline;
}	
.control .input-group{
	height: 100px;
}
.control .khay1{
	font-family: 'Lato', sans-serif;
	color: #ff7043;
}
.control .khay2{
	font-family: 'Lato', sans-serif;
	color: #0277bd;
}
.control .info-khay1{
		text-align: center;
		background-color: #ff7043;
		height: 100px;
		width: 100%;
		border: 1px solid #ff7043;
		border-radius: 5px;
		font-size: 50px;
		font-family: 'Lato', sans-serif;
		color: white;
		padding-top: 4%;
		cursor: pointer;
}
.control .info-khay2{
		text-align: center;
		background-color: #0277bd;
		height: 100px;
		width: 100%;
		border: 1px solid #0277bd;
		border-radius: 5px;
		font-size: 50px;
		font-family: 'Lato', sans-serif;
		color: white;
		padding-top: 4%;
		cursor: pointer;
}
.control .khay{
	font-size: 25px;
	font-family: 'Lato', sans-serif;
}
.control .form1{
	font-size: 22px;
	font-family: 'Lato', sans-serif;
	color: #ff7043;
	height: 44px;
	box-shadow: #ff7043;
}
.control .form2{
	font-size: 22px;
	font-family: 'Lato', sans-serif;
	color: #0277bd;
	height: 44px;
	box-shadow: #0277bd;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios {
	background-color: #ff7043;
}
.toggle.info-khay1{
	background-color: #ff7043;
}
.control .choose-options{
	font-family: 'Lato', sans-serif;
	color:  #34716A;
}

/* DateTimePicker */
.control .container .date .calendar1{
	font-size: 50px;
	text-align: center;
	padding-right: 10px;
	margin-right: 0px;
	color: #34716A;
}
.control .container .date .input-group-addon{
	padding: 0px;
	background-color: white;
	border: 0px;
	margin: 0px;
	text-align: center;
}
.control .container .date input[type = "text"]{
	width: 90%;
	height: 80px;
	margin-left: 10px;
	font-size: 20px;
  	padding: 12px 20px;
	resize: none;
	border: 0px;
	background-color: white;
	box-shadow: none;
}
.control .container .date input[type = "text"]:hover{
	box-shadow: none;
}
.control .container .pump .pump-number{
	color: #34716A;
	font-size: 30px;
	padding-left: 50px;
}

/*PULL PROCESS*/
input[type=range] {
  -webkit-appearance: none;
  width: 99%;
  margin: 5.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background: #76B39D;
  border-radius: 10px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
.pullProcess h1{
	color: #155E63;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	padding-bottom: 4px;
}
.pullProcess{
	margin: 10px 0px;
}
 ::selection{
 	color: white;
 	background: #76B39D;
 };